@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: antiquewhite;
  margin: 0;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  #root{
    padding: 0 25%;
  }

  .chat-box{
    height: 80vh;
    background-image: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
    overflow: auto;
    padding-bottom: 100px;
  }

  .text-box{
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #dfe4ea;
  }

  .rec-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .rec-container button{
    background-color: #fff;
    border: 0;
  }

  .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .input-container input{
    width: 100%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 30px;
    background-color: white;
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    border: 0;
    background-color: #2980b9;
  }

  .ballon-container{
    padding: 0 3%;
    overflow: auto;
  }

  .ballon{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .ballon-ava-right{
    width: 60px;
    height: 60px;
    background-color: violet;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava-left{
    width: 60px;
    height: 60px;
    background-color: #2980b9;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava img{
    width: 100%;
    aspect-ratio: 1;
  }

  .ballon-text-right{
    width: 80%;
    padding: 15px 10px;
    font-size: 12px;
    
  }

  .ballon-text-left{
    width: 80%;
    padding: 15px 10px;
    font-size: 12px;
    
  }

  .reply-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

  .reply-loading img{
    height: 100px;
  }

  .no-msg{
    /* text-align: center; */
  }

  .no-msg span{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    padding: 20px;
    border-radius: 10px;
    background-color: #2980b9;
    color: #fff;

  }
 
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  #root{
    padding: 0 12%;
  }

  .text-box{
    height: 10%;
  }


  .chat-box{
    height: 90vh;
    background-image: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
  }

  .text-box{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    min-height: calc(18vh - 56px);
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #dfe4ea;
  }

  .rec-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .rec-container button{
    background-color: #fff;
    border: 0;
  }

  .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .input-container input{
    width: 100%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 30px;
    background-color: white;
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 0;
    background-color: #2980b9;
  }

  .ballon-container{
    padding: 0 3%;
    overflow: auto;
  }

  .ballon{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .ballon-ava-right{
    width: 60px;
    height: 60px;
    background-color: violet;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava-left{
    width: 60px;
    height: 60px;
    background-color: #2980b9;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava img{
    width: 100%;
    aspect-ratio: 1;
  }

  .ballon-text-right{
    width: 80%;
    padding: 10px 10px;
    font-size: 12px;
  }

  .ballon-text-left{
    width: 80%;
    padding: 10px 10px;
    font-size: 12px;
  }


}

@media (max-width: 480px) {
  #root{
    padding: 0 ;
  }

  .chat-box{
    height: 80vh;
    background-image: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
    overflow: auto;
    padding-bottom: 100px;
  }

  .text-box{
    position: fixed;
    display: flex;
    flex-direction: row;
    min-height: calc(18vh - 56px);
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #dfe4ea;
  }

  .rec-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .rec-container button{
    background-color: #fff;
    border: 0;
  }

  .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .input-container input{
    width: 100%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 30px;
    background-color: white;
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    border: 0;
    background-color: #2980b9;
  }

  .ballon-container{
    padding: 0 3%;
    overflow: auto;
  }

  .ballon{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .ballon-ava-right{
    width: 60px;
    height: 60px;
    background-color: violet;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava-left{
    width: 60px;
    height: 60px;
    background-color: #2980b9;
    border-radius: 10px;
    margin: 10px;
    display: flex;
  }

  .ballon-ava img{
    width: 100%;
    aspect-ratio: 1;
  }

  .ballon-text-right{
    width: 80%;
    padding: 15px 10px;
    font-size: 12px;
    
  }

  .ballon-text-left{
    width: 80%;
    padding: 15px 10px;
    font-size: 12px;
    
  }

  .reply-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

  .reply-loading img{
    height: 100px;
  }

  .no-msg{
    /* text-align: center; */
  }

  .no-msg span{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    padding: 20px;
    border-radius: 10px;
    background-color: #2980b9;
    color: #fff;

  }

}

.container{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.btn{
  height: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: linear 0.1s;
  background-color: #d63031;
}


.btn:hover{
  transform: scale(1.05);
}

.line{
  border-top: 1px solid #ddd;
  margin: 10px 0px;;
}

.korean{
  font-weight: bold;
}